[submodule "tools/ape/ape-bin"]
	path = tools/ape/ape-bin
	url = https://github.com/the-themis-benchmarks/ape-bin.git
[submodule "tools/fastbot/Fastbot_Android"]
	path = tools/fastbot/Fastbot_Android
	url = https://github.com/bytedance/Fastbot_Android.git
[submodule "tools/humanoid/Humanoid"]
	path = tools/humanoid/Humanoid
	url = https://github.com/the-themis-benchmarks/Humanoid.git
[submodule "tools/stoat/Stoat"]
	path = tools/stoat/Stoat
	url = https://github.com/tingsu/Stoat.git
